<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication2.My.MySettings.DelPartsConnectionString"
            connectionString="Data Source=is371.bus.wisc.edu;Initial Catalog=DelParts;User ID=is371;Password=is371"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.ConnectionString"
            connectionString="Data Source=is371.bus.wisc.edu;User ID=is371;Password=is371"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>